.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
}

.evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.trybewarts-forms-logo {
  height: 500px;
}

.section-name-container {
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
